<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section>
    <div>5호선 지하철 화장실</div>
    <div>취소</div>
  </section>
  <section>
    <div style="width: 30px;height: 30px;background-color: white">ㄱ</div>
    <div style="width: 30px;height: 30px;background-color: white">ㄴ</div>
    <div style="width: 30px;height: 30px;background-color: white">ㄷ</div>
  </section>
  <section>
    <!--
    목록아이콘 클릭 시 역번호로 정렬 되도록(필요하면 페이징 처리)
    예시로 작성함
    -->
    <ul>
      <li>510 방화</li>
      <li>511 개화산</li>
      <li onclick="location.href='subwayName'">512 김포공항</li>
      <li>513 송정</li>
      <li>514 마곡</li>
      <li>515 발산</li>
      <li>516 우장산</li>
      <li>517 화곡</li>
    </ul>
  </section>
</body>
</html>