<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .title {
            width: 100px ;
            height: 50px;
            text-align: center;
            border: 1px solid #000;
            font-weight: bold;
        }
        .context {
            width: 300px;
            height: 50px;
            text-align: center;
            border: 1px solid #000000;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <section>
        <div>김포공항역 지하 1층 외부 화장실</div>
        <div>취소</div>
    </section>
    <div><img src="" alt="입구 사진"></div>
    <section>
        <table id="details">
            <tr>
                <th class="title">주소</th>
                <th class="context">서울특별시 강서구 하늘길 지하 77(방화동)</th>
            </tr>
            <tr>
                <th class="title">위치</th>
                <th class="context">대합실 지하 1층, 1번 출구 옆(지하철 경찰센터 옆)</th>
            </tr>
            <tr>
                <th class="title">개방시간</th>
                <th class="context">05:00 ~ 24:00</th>
            </tr>
        </table>
        <div>
            <div>남자화장실아이콘</div> <!--아이콘 클릭 시 변기 수 등의 정보가 담긴 모달창-->
            <div>여자화장실아이콘</div>
            <div>장애인화장실아이콘</div>
            <div>기저귀교환대아이콘</div>
        </div>
        <section>
            <div>
                <div>리뷰</div>
                <button>작성</button> <!--작성 버튼 클릭 시 별점 및 리뷰 작성할 수 있는 모달창-->
            </div>
            <div>
                <div>
                    리뷰1(작성자, 내용, 일자, 신고버튼)
                </div>
                <div>
                    리뷰2(작성자, 내용, 일자, 신고버튼)
                </div>
                <div>
                    리뷰3(작성자, 내용, 일자, 신고버튼)
                </div>
            </div>


        </section>

    </section>
</body>
</html>